button{
    background-color: #0c86d6;
    border: none;
    color: white;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin:5px 5px;
    cursor: pointer;
    border-radius: 60px;
    width: 105px;
    height: 105px;
}
#q{
    color: #0c86d6;
    font-size:  120px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: Roboto;
}
#btnEqual{
    width: 220px;
}
#app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}